{% extends "browse/logbase.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="jumbotron jumbotron-fluid bg-gray vertical-center m-0">

    <div class="container m-0 center" >
        <div class="text-white">
            <h1 class="display-5 text-white">Pastor Chris Digital library.</h1>
            <p class="text-white"> Listen to life tranforming messages by Pastor Chris. </br> Join today.</p>
        </div>
        </br>

    </div>
    
    <div class="content-section narrow-select" >
        <form method="POST">
            {% csrf_token %}
            <fieldset class="forms-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>

    </div>
</div>
{% endblock content %}
