{% extends "browse/base.html" %}
{% load static %}
{% block content%}
    
    <div class="container m-5 mt-3">
    </br>
    <h3>Watch Video</h3>
        <div class="float-left ">
            <div class="card text-white bg-dark mb-auto" style="width: 17rem;">
                <img class="card-img-top" src="{% static '/browse/firstpic.png' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title text-white">{{ object.title }}</h5>
                <p class="card-text">{{ object.vid_description }}</p>
                <a href="#" class="btn btn-outline-light">Play</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
