{% extends "browse/base.html" %}
{% block content%}
    {% for post in videos%}
    <div class="container">
        <div class="float-left">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title text-white">{{ post.title }}</h5>
                <p class="card-text">{{ post.vid_description }}</p>
                <a href="#" class="btn btn-outline-light">Play</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
{% endblock content %}